{% extends 'lotto/base.html' %}
{% load static %}
{% block content %}
<br>
<br>
<br>
<br>
<br>
    <p>
    <center>
    <div><h1>로또 당첨 번호 확인</h1></div>
    </center>
    </p>
    <p>
    <div>
    <center>
        <form action="{% url 'lottoresult' %}" method = "post">
        {% csrf_token %}
        <input placeholder="당첨번호를 입력하세요. (예: 1 11 21 31 41 45)" type="text" name="inputVal"/>
        <button type="submit" class="button button1">
            확인
        </button>
        </form>
    </center>
</div>
    </div>
    </p>
{% endblock %}